html, body {
    height: 100%;
  }
  
  body {
    background: black;
    min-height: 100%;
    overflow: hidden;
  }
  
  @-webkit-keyframes move {
    100% {
      -webkit-transform: translate3d(0, 0, -1000px);
              transform: translate3d(0, 0, -1000px);
    }
  }
  
  @keyframes move {
    100% {
      -webkit-transform: translate3d(0, 0, -1000px);
              transform: translate3d(0, 0, -1000px);
    }
  }
  .container {
    position: relative;
    width: 100%;
    min-height: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .bubble-wrap {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-perspective: 600px;
            perspective: 600px;
  }
  
  .bubble {
    position: absolute;
    background: black;
    opacity: .7;
    border-radius: 50%;
    -webkit-animation: move 3s infinite;
            animation: move 3s infinite;
  }
  
  .bubble:nth-child(1) {
    height: 26px;
    width: 26px;
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
    -webkit-transform: translate3d(587px, 150px, 964px);
            transform: translate3d(587px, 150px, 964px);
    background: #d926a3;
  }
  
  .bubble:nth-child(2) {
    height: 16px;
    width: 16px;
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
    -webkit-transform: translate3d(997px, 687px, 598px);
            transform: translate3d(997px, 687px, 598px);
    background: #26d962;
  }
  
  .bubble:nth-child(3) {
    height: 24px;
    width: 24px;
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
    -webkit-transform: translate3d(106px, 711px, 1841px);
            transform: translate3d(106px, 711px, 1841px);
    background: #d9cd26;
  }
  
  .bubble:nth-child(4) {
    height: 2px;
    width: 2px;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
    -webkit-transform: translate3d(484px, 447px, 1080px);
            transform: translate3d(484px, 447px, 1080px);
    background: #8226d9;
  }
  
  .bubble:nth-child(5) {
    height: 21px;
    width: 21px;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    -webkit-transform: translate3d(326px, 995px, 1769px);
            transform: translate3d(326px, 995px, 1769px);
    background: #38d926;
  }
  
  .bubble:nth-child(6) {
    height: 17px;
    width: 17px;
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
    -webkit-transform: translate3d(797px, 70px, 186px);
            transform: translate3d(797px, 70px, 186px);
    background: #d9af26;
  }
  
  .bubble:nth-child(7) {
    height: 19px;
    width: 19px;
    -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s;
    -webkit-transform: translate3d(10px, 576px, 1281px);
            transform: translate3d(10px, 576px, 1281px);
    background: #88d926;
  }
  
  .bubble:nth-child(8) {
    height: 11px;
    width: 11px;
    -webkit-animation-delay: -1.6s;
            animation-delay: -1.6s;
    -webkit-transform: translate3d(642px, 270px, 1783px);
            transform: translate3d(642px, 270px, 1783px);
    background: #2629d9;
  }
  
  .bubble:nth-child(9) {
    height: 12px;
    width: 12px;
    -webkit-animation-delay: -1.8s;
            animation-delay: -1.8s;
    -webkit-transform: translate3d(62px, 289px, 1724px);
            transform: translate3d(62px, 289px, 1724px);
    background: #26b2d9;
  }
  
  .bubble:nth-child(10) {
    height: 4px;
    width: 4px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-transform: translate3d(70px, 448px, 524px);
            transform: translate3d(70px, 448px, 524px);
    background: #d94d26;
  }
  
  .bubble:nth-child(11) {
    height: 4px;
    width: 4px;
    -webkit-animation-delay: -2.2s;
            animation-delay: -2.2s;
    -webkit-transform: translate3d(701px, 295px, 248px);
            transform: translate3d(701px, 295px, 248px);
    background: #3226d9;
  }
  
  .bubble:nth-child(12) {
    height: 29px;
    width: 29px;
    -webkit-animation-delay: -2.4s;
            animation-delay: -2.4s;
    -webkit-transform: translate3d(471px, 260px, 540px);
            transform: translate3d(471px, 260px, 540px);
    background: #5c26d9;
  }
  
  .bubble:nth-child(13) {
    height: 17px;
    width: 17px;
    -webkit-animation-delay: -2.6s;
            animation-delay: -2.6s;
    -webkit-transform: translate3d(834px, 36px, 534px);
            transform: translate3d(834px, 36px, 534px);
    background: #d98b26;
  }
  
  .bubble:nth-child(14) {
    height: 23px;
    width: 23px;
    -webkit-animation-delay: -2.8s;
            animation-delay: -2.8s;
    -webkit-transform: translate3d(161px, 439px, 699px);
            transform: translate3d(161px, 439px, 699px);
    background: #d9269a;
  }
  
  .bubble:nth-child(15) {
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    -webkit-transform: translate3d(516px, 995px, 629px);
            transform: translate3d(516px, 995px, 629px);
    background: #d93526;
  }
  
  .bubble:nth-child(16) {
    height: 17px;
    width: 17px;
    -webkit-animation-delay: -3.2s;
            animation-delay: -3.2s;
    -webkit-transform: translate3d(439px, 786px, 1248px);
            transform: translate3d(439px, 786px, 1248px);
    background: #6bd926;
  }
  
  .bubble:nth-child(17) {
    height: 17px;
    width: 17px;
    -webkit-animation-delay: -3.4s;
            animation-delay: -3.4s;
    -webkit-transform: translate3d(658px, 989px, 1080px);
            transform: translate3d(658px, 989px, 1080px);
    background: #4126d9;
  }
  
  .bubble:nth-child(18) {
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.6s;
            animation-delay: -3.6s;
    -webkit-transform: translate3d(698px, 62px, 1879px);
            transform: translate3d(698px, 62px, 1879px);
    background: #d93226;
  }
  
  .bubble:nth-child(19) {
    height: 1px;
    width: 1px;
    -webkit-animation-delay: -3.8s;
            animation-delay: -3.8s;
    -webkit-transform: translate3d(100px, 236px, 666px);
            transform: translate3d(100px, 236px, 666px);
    background: #26d994;
  }
  
  .bubble:nth-child(20) {
    height: 16px;
    width: 16px;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-transform: translate3d(791px, 797px, 1912px);
            transform: translate3d(791px, 797px, 1912px);
    background: #264dd9;
  }
  
  .bubble:nth-child(21) {
    height: 3px;
    width: 3px;
    -webkit-animation-delay: -4.2s;
            animation-delay: -4.2s;
    -webkit-transform: translate3d(645px, 722px, 912px);
            transform: translate3d(645px, 722px, 912px);
    background: #d926b5;
  }
  
  .bubble:nth-child(22) {
    height: 13px;
    width: 13px;
    -webkit-animation-delay: -4.4s;
            animation-delay: -4.4s;
    -webkit-transform: translate3d(667px, 462px, 1615px);
            transform: translate3d(667px, 462px, 1615px);
    background: #a3d926;
  }
  
  .bubble:nth-child(23) {
    height: 24px;
    width: 24px;
    -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
    -webkit-transform: translate3d(958px, 574px, 1272px);
            transform: translate3d(958px, 574px, 1272px);
    background: #d98026;
  }
  
  .bubble:nth-child(24) {
    height: 26px;
    width: 26px;
    -webkit-animation-delay: -4.8s;
            animation-delay: -4.8s;
    -webkit-transform: translate3d(315px, 963px, 1004px);
            transform: translate3d(315px, 963px, 1004px);
    background: #80d926;
  }
  
  .bubble:nth-child(25) {
    height: 2px;
    width: 2px;
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-transform: translate3d(309px, 293px, 261px);
            transform: translate3d(309px, 293px, 261px);
    background: #26d9c1;
  }
  
  .bubble:nth-child(26) {
    height: 22px;
    width: 22px;
    -webkit-animation-delay: -5.2s;
            animation-delay: -5.2s;
    -webkit-transform: translate3d(293px, 381px, 741px);
            transform: translate3d(293px, 381px, 741px);
    background: #9726d9;
  }
  
  .bubble:nth-child(27) {
    height: 18px;
    width: 18px;
    -webkit-animation-delay: -5.4s;
            animation-delay: -5.4s;
    -webkit-transform: translate3d(148px, 874px, 904px);
            transform: translate3d(148px, 874px, 904px);
    background: #d92644;
  }
  
  .bubble:nth-child(28) {
    height: 22px;
    width: 22px;
    -webkit-animation-delay: -5.6s;
            animation-delay: -5.6s;
    -webkit-transform: translate3d(900px, 320px, 1611px);
            transform: translate3d(900px, 320px, 1611px);
    background: #26d9b8;
  }
  
  .bubble:nth-child(29) {
    height: 23px;
    width: 23px;
    -webkit-animation-delay: -5.8s;
            animation-delay: -5.8s;
    -webkit-transform: translate3d(731px, 542px, 332px);
            transform: translate3d(731px, 542px, 332px);
    background: #26acd9;
  }
  
  .bubble:nth-child(30) {
    height: 22px;
    width: 22px;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    -webkit-transform: translate3d(399px, 471px, 412px);
            transform: translate3d(399px, 471px, 412px);
    background: #d98e26;
  }
  
  .bubble:nth-child(31) {
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -6.2s;
            animation-delay: -6.2s;
    -webkit-transform: translate3d(394px, 759px, 1121px);
            transform: translate3d(394px, 759px, 1121px);
    background: #77d926;
  }
  
  .bubble:nth-child(32) {
    height: 22px;
    width: 22px;
    -webkit-animation-delay: -6.4s;
            animation-delay: -6.4s;
    -webkit-transform: translate3d(888px, 373px, 1098px);
            transform: translate3d(888px, 373px, 1098px);
    background: #d9268e;
  }
  
  .bubble:nth-child(33) {
    height: 25px;
    width: 25px;
    -webkit-animation-delay: -6.6s;
            animation-delay: -6.6s;
    -webkit-transform: translate3d(852px, 558px, 1558px);
            transform: translate3d(852px, 558px, 1558px);
    background: #b5d926;
  }
  
  .bubble:nth-child(34) {
    height: 2px;
    width: 2px;
    -webkit-animation-delay: -6.8s;
            animation-delay: -6.8s;
    -webkit-transform: translate3d(106px, 245px, 806px);
            transform: translate3d(106px, 245px, 806px);
    background: #d926d3;
  }
  
  .bubble:nth-child(35) {
    height: 14px;
    width: 14px;
    -webkit-animation-delay: -7s;
            animation-delay: -7s;
    -webkit-transform: translate3d(230px, 605px, 993px);
            transform: translate3d(230px, 605px, 993px);
    background: #8e26d9;
  }
  
  .bubble:nth-child(36) {
    height: 26px;
    width: 26px;
    -webkit-animation-delay: -7.2s;
            animation-delay: -7.2s;
    -webkit-transform: translate3d(339px, 327px, 852px);
            transform: translate3d(339px, 327px, 852px);
    background: #26d971;
  }
  
  .bubble:nth-child(37) {
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -7.4s;
            animation-delay: -7.4s;
    -webkit-transform: translate3d(88px, 50px, 1637px);
            transform: translate3d(88px, 50px, 1637px);
    background: #d93226;
  }
  
  .bubble:nth-child(38) {
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -7.6s;
            animation-delay: -7.6s;
    -webkit-transform: translate3d(764px, 234px, 844px);
            transform: translate3d(764px, 234px, 844px);
    background: #d9263e;
  }
  
  .bubble:nth-child(39) {
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -7.8s;
            animation-delay: -7.8s;
    -webkit-transform: translate3d(397px, 622px, 448px);
            transform: translate3d(397px, 622px, 448px);
    background: #d926a0;
  }
  
  .bubble:nth-child(40) {
    height: 17px;
    width: 17px;
    -webkit-animation-delay: -8s;
            animation-delay: -8s;
    -webkit-transform: translate3d(985px, 383px, 1395px);
            transform: translate3d(985px, 383px, 1395px);
    background: #265fd9;
  }
  
  .bubble:nth-child(41) {
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -8.2s;
            animation-delay: -8.2s;
    -webkit-transform: translate3d(870px, 844px, 1671px);
            transform: translate3d(870px, 844px, 1671px);
    background: #b526d9;
  }
  
  .bubble:nth-child(42) {
    height: 13px;
    width: 13px;
    -webkit-animation-delay: -8.4s;
            animation-delay: -8.4s;
    -webkit-transform: translate3d(943px, 572px, 13px);
            transform: translate3d(943px, 572px, 13px);
    background: #d9269d;
  }
  
  .bubble:nth-child(43) {
    height: 4px;
    width: 4px;
    -webkit-animation-delay: -8.6s;
            animation-delay: -8.6s;
    -webkit-transform: translate3d(345px, 494px, 615px);
            transform: translate3d(345px, 494px, 615px);
    background: #d92697;
  }
  
  .bubble:nth-child(44) {
    height: 27px;
    width: 27px;
    -webkit-animation-delay: -8.8s;
            animation-delay: -8.8s;
    -webkit-transform: translate3d(424px, 420px, 1662px);
            transform: translate3d(424px, 420px, 1662px);
    background: #d9a026;
  }
  
  .bubble:nth-child(45) {
    height: 24px;
    width: 24px;
    -webkit-animation-delay: -9s;
            animation-delay: -9s;
    -webkit-transform: translate3d(343px, 875px, 469px);
            transform: translate3d(343px, 875px, 469px);
    background: #d97426;
  }
  
  .bubble:nth-child(46) {
    height: 11px;
    width: 11px;
    -webkit-animation-delay: -9.2s;
            animation-delay: -9.2s;
    -webkit-transform: translate3d(569px, 103px, 685px);
            transform: translate3d(569px, 103px, 685px);
    background: #26d953;
  }
  
  .bubble:nth-child(47) {
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -9.4s;
            animation-delay: -9.4s;
    -webkit-transform: translate3d(71px, 991px, 597px);
            transform: translate3d(71px, 991px, 597px);
    background: #d93b26;
  }
  
  .bubble:nth-child(48) {
    height: 16px;
    width: 16px;
    -webkit-animation-delay: -9.6s;
            animation-delay: -9.6s;
    -webkit-transform: translate3d(866px, 947px, 1809px);
            transform: translate3d(866px, 947px, 1809px);
    background: #d9266e;
  }
  
  .bubble:nth-child(49) {
    height: 24px;
    width: 24px;
    -webkit-animation-delay: -9.8s;
            animation-delay: -9.8s;
    -webkit-transform: translate3d(400px, 841px, 1717px);
            transform: translate3d(400px, 841px, 1717px);
    background: #b8d926;
  }
  
  .bubble:nth-child(50) {
    height: 22px;
    width: 22px;
    -webkit-animation-delay: -10s;
            animation-delay: -10s;
    -webkit-transform: translate3d(788px, 351px, 767px);
            transform: translate3d(788px, 351px, 767px);
    background: #2641d9;
  }
  
  .bubble:nth-child(51) {
    height: 1px;
    width: 1px;
    -webkit-animation-delay: -10.2s;
            animation-delay: -10.2s;
    -webkit-transform: translate3d(249px, 884px, 418px);
            transform: translate3d(249px, 884px, 418px);
    background: #d926d9;
  }
  
  .bubble:nth-child(52) {
    height: 24px;
    width: 24px;
    -webkit-animation-delay: -10.4s;
            animation-delay: -10.4s;
    -webkit-transform: translate3d(459px, 216px, 1613px);
            transform: translate3d(459px, 216px, 1613px);
    background: #d96526;
  }
  
  .bubble:nth-child(53) {
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -10.6s;
            animation-delay: -10.6s;
    -webkit-transform: translate3d(426px, 693px, 581px);
            transform: translate3d(426px, 693px, 581px);
    background: #a326d9;
  }
  
  .bubble:nth-child(54) {
    height: 26px;
    width: 26px;
    -webkit-animation-delay: -10.8s;
            animation-delay: -10.8s;
    -webkit-transform: translate3d(392px, 537px, 1206px);
            transform: translate3d(392px, 537px, 1206px);
    background: #d92626;
  }
  
  .bubble:nth-child(55) {
    height: 13px;
    width: 13px;
    -webkit-animation-delay: -11s;
            animation-delay: -11s;
    -webkit-transform: translate3d(643px, 539px, 1737px);
            transform: translate3d(643px, 539px, 1737px);
    background: #d6d926;
  }
  
  .bubble:nth-child(56) {
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -11.2s;
            animation-delay: -11.2s;
    -webkit-transform: translate3d(338px, 518px, 176px);
            transform: translate3d(338px, 518px, 176px);
    background: #d6d926;
  }
  
  .bubble:nth-child(57) {
    height: 21px;
    width: 21px;
    -webkit-animation-delay: -11.4s;
            animation-delay: -11.4s;
    -webkit-transform: translate3d(314px, 600px, 323px);
            transform: translate3d(314px, 600px, 323px);
    background: #d9263b;
  }
  
  .bubble:nth-child(58) {
    height: 11px;
    width: 11px;
    -webkit-animation-delay: -11.6s;
            animation-delay: -11.6s;
    -webkit-transform: translate3d(518px, 813px, 1613px);
            transform: translate3d(518px, 813px, 1613px);
    background: #7726d9;
  }
  
  .bubble:nth-child(59) {
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -11.8s;
            animation-delay: -11.8s;
    -webkit-transform: translate3d(928px, 133px, 1272px);
            transform: translate3d(928px, 133px, 1272px);
    background: #d926b2;
  }
  
  .bubble:nth-child(60) {
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -12s;
            animation-delay: -12s;
    -webkit-transform: translate3d(616px, 478px, 102px);
            transform: translate3d(616px, 478px, 102px);
    background: #26d935;
  }
  
  .bubble:nth-child(61) {
    height: 27px;
    width: 27px;
    -webkit-animation-delay: -12.2s;
            animation-delay: -12.2s;
    -webkit-transform: translate3d(904px, 990px, 89px);
            transform: translate3d(904px, 990px, 89px);
    background: #b8d926;
  }
  
  .bubble:nth-child(62) {
    height: 30px;
    width: 30px;
    -webkit-animation-delay: -12.4s;
            animation-delay: -12.4s;
    -webkit-transform: translate3d(421px, 217px, 1392px);
            transform: translate3d(421px, 217px, 1392px);
    background: #a026d9;
  }
  
  .bubble:nth-child(63) {
    height: 22px;
    width: 22px;
    -webkit-animation-delay: -12.6s;
            animation-delay: -12.6s;
    -webkit-transform: translate3d(868px, 736px, 41px);
            transform: translate3d(868px, 736px, 41px);
    background: #d96226;
  }
  
  .bubble:nth-child(64) {
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -12.8s;
            animation-delay: -12.8s;
    -webkit-transform: translate3d(115px, 179px, 79px);
            transform: translate3d(115px, 179px, 79px);
    background: #d926d9;
  }
  
  .bubble:nth-child(65) {
    height: 12px;
    width: 12px;
    -webkit-animation-delay: -13s;
            animation-delay: -13s;
    -webkit-transform: translate3d(695px, 568px, 1247px);
            transform: translate3d(695px, 568px, 1247px);
    background: #a9d926;
  }
  
  .bubble:nth-child(66) {
    height: 26px;
    width: 26px;
    -webkit-animation-delay: -13.2s;
            animation-delay: -13.2s;
    -webkit-transform: translate3d(181px, 533px, 790px);
            transform: translate3d(181px, 533px, 790px);
    background: #d92650;
  }
  
  .bubble:nth-child(67) {
    height: 22px;
    width: 22px;
    -webkit-animation-delay: -13.4s;
            animation-delay: -13.4s;
    -webkit-transform: translate3d(92px, 688px, 1710px);
            transform: translate3d(92px, 688px, 1710px);
    background: #d98526;
  }
  
  .bubble:nth-child(68) {
    height: 4px;
    width: 4px;
    -webkit-animation-delay: -13.6s;
            animation-delay: -13.6s;
    -webkit-transform: translate3d(830px, 239px, 1698px);
            transform: translate3d(830px, 239px, 1698px);
    background: #2697d9;
  }
  
  .bubble:nth-child(69) {
    height: 23px;
    width: 23px;
    -webkit-animation-delay: -13.8s;
            animation-delay: -13.8s;
    -webkit-transform: translate3d(276px, 481px, 1318px);
            transform: translate3d(276px, 481px, 1318px);
    background: #d9bb26;
  }
  
  .bubble:nth-child(70) {
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -14s;
            animation-delay: -14s;
    -webkit-transform: translate3d(855px, 953px, 1956px);
            transform: translate3d(855px, 953px, 1956px);
    background: #d9265c;
  }
  
  .bubble:nth-child(71) {
    height: 15px;
    width: 15px;
    -webkit-animation-delay: -14.2s;
            animation-delay: -14.2s;
    -webkit-transform: translate3d(282px, 481px, 1714px);
            transform: translate3d(282px, 481px, 1714px);
    background: #d9262f;
  }
  
  .bubble:nth-child(72) {
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -14.4s;
            animation-delay: -14.4s;
    -webkit-transform: translate3d(917px, 222px, 1453px);
            transform: translate3d(917px, 222px, 1453px);
    background: #26d9a9;
  }
  
  .bubble:nth-child(73) {
    height: 27px;
    width: 27px;
    -webkit-animation-delay: -14.6s;
            animation-delay: -14.6s;
    -webkit-transform: translate3d(480px, 864px, 169px);
            transform: translate3d(480px, 864px, 169px);
    background: #59d926;
  }
  
  .bubble:nth-child(74) {
    height: 30px;
    width: 30px;
    -webkit-animation-delay: -14.8s;
            animation-delay: -14.8s;
    -webkit-transform: translate3d(747px, 244px, 32px);
            transform: translate3d(747px, 244px, 32px);
    background: #d95926;
  }
  
  .bubble:nth-child(75) {
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -15s;
            animation-delay: -15s;
    -webkit-transform: translate3d(342px, 222px, 1672px);
            transform: translate3d(342px, 222px, 1672px);
    background: #26d935;
  }
  
  .bubble:nth-child(76) {
    height: 22px;
    width: 22px;
    -webkit-animation-delay: -15.2s;
            animation-delay: -15.2s;
    -webkit-transform: translate3d(309px, 570px, 780px);
            transform: translate3d(309px, 570px, 780px);
    background: #8ed926;
  }
  
  .bubble:nth-child(77) {
    height: 21px;
    width: 21px;
    -webkit-animation-delay: -15.4s;
            animation-delay: -15.4s;
    -webkit-transform: translate3d(202px, 452px, 1153px);
            transform: translate3d(202px, 452px, 1153px);
    background: #62d926;
  }
  
  .bubble:nth-child(78) {
    height: 30px;
    width: 30px;
    -webkit-animation-delay: -15.6s;
            animation-delay: -15.6s;
    -webkit-transform: translate3d(581px, 332px, 1295px);
            transform: translate3d(581px, 332px, 1295px);
    background: #9d26d9;
  }
  
  .bubble:nth-child(79) {
    height: 14px;
    width: 14px;
    -webkit-animation-delay: -15.8s;
            animation-delay: -15.8s;
    -webkit-transform: translate3d(985px, 696px, 1218px);
            transform: translate3d(985px, 696px, 1218px);
    background: #7ad926;
  }
  
  .bubble:nth-child(80) {
    height: 29px;
    width: 29px;
    -webkit-animation-delay: -16s;
            animation-delay: -16s;
    -webkit-transform: translate3d(722px, 325px, 1813px);
            transform: translate3d(722px, 325px, 1813px);
    background: #d926d3;
  }
  
  .bubble:nth-child(81) {
    height: 1px;
    width: 1px;
    -webkit-animation-delay: -16.2s;
            animation-delay: -16.2s;
    -webkit-transform: translate3d(472px, 604px, 1301px);
            transform: translate3d(472px, 604px, 1301px);
    background: #4dd926;
  }
  
  .bubble:nth-child(82) {
    height: 30px;
    width: 30px;
    -webkit-animation-delay: -16.4s;
            animation-delay: -16.4s;
    -webkit-transform: translate3d(626px, 579px, 393px);
            transform: translate3d(626px, 579px, 393px);
    background: #7ad926;
  }
  
  .bubble:nth-child(83) {
    height: 29px;
    width: 29px;
    -webkit-animation-delay: -16.6s;
            animation-delay: -16.6s;
    -webkit-transform: translate3d(621px, 429px, 1596px);
            transform: translate3d(621px, 429px, 1596px);
    background: #2665d9;
  }
  
  .bubble:nth-child(84) {
    height: 22px;
    width: 22px;
    -webkit-animation-delay: -16.8s;
            animation-delay: -16.8s;
    -webkit-transform: translate3d(665px, 966px, 220px);
            transform: translate3d(665px, 966px, 220px);
    background: #d92691;
  }
  
  .bubble:nth-child(85) {
    height: 18px;
    width: 18px;
    -webkit-animation-delay: -17s;
            animation-delay: -17s;
    -webkit-transform: translate3d(753px, 554px, 815px);
            transform: translate3d(753px, 554px, 815px);
    background: #d926c1;
  }
  
  .bubble:nth-child(86) {
    height: 17px;
    width: 17px;
    -webkit-animation-delay: -17.2s;
            animation-delay: -17.2s;
    -webkit-transform: translate3d(255px, 965px, 1253px);
            transform: translate3d(255px, 965px, 1253px);
    background: #b226d9;
  }
  
  .bubble:nth-child(87) {
    height: 19px;
    width: 19px;
    -webkit-animation-delay: -17.4s;
            animation-delay: -17.4s;
    -webkit-transform: translate3d(339px, 158px, 318px);
            transform: translate3d(339px, 158px, 318px);
    background: #38d926;
  }
  
  .bubble:nth-child(88) {
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -17.6s;
            animation-delay: -17.6s;
    -webkit-transform: translate3d(116px, 832px, 1495px);
            transform: translate3d(116px, 832px, 1495px);
    background: #d926d0;
  }
  
  .bubble:nth-child(89) {
    height: 24px;
    width: 24px;
    -webkit-animation-delay: -17.8s;
            animation-delay: -17.8s;
    -webkit-transform: translate3d(214px, 422px, 1117px);
            transform: translate3d(214px, 422px, 1117px);
    background: #d9264a;
  }
  
  .bubble:nth-child(90) {
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -18s;
            animation-delay: -18s;
    -webkit-transform: translate3d(650px, 74px, 1298px);
            transform: translate3d(650px, 74px, 1298px);
    background: #26d3d9;
  }
  
  .bubble:nth-child(91) {
    height: 4px;
    width: 4px;
    -webkit-animation-delay: -18.2s;
            animation-delay: -18.2s;
    -webkit-transform: translate3d(442px, 448px, 418px);
            transform: translate3d(442px, 448px, 418px);
    background: #2632d9;
  }
  
  .bubble:nth-child(92) {
    height: 30px;
    width: 30px;
    -webkit-animation-delay: -18.4s;
            animation-delay: -18.4s;
    -webkit-transform: translate3d(700px, 207px, 1311px);
            transform: translate3d(700px, 207px, 1311px);
    background: #267dd9;
  }
  
  .bubble:nth-child(93) {
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -18.6s;
            animation-delay: -18.6s;
    -webkit-transform: translate3d(899px, 194px, 1090px);
            transform: translate3d(899px, 194px, 1090px);
    background: #c426d9;
  }
  
  .bubble:nth-child(94) {
    height: 23px;
    width: 23px;
    -webkit-animation-delay: -18.8s;
            animation-delay: -18.8s;
    -webkit-transform: translate3d(781px, 481px, 1409px);
            transform: translate3d(781px, 481px, 1409px);
    background: #be26d9;
  }
  
  .bubble:nth-child(95) {
    height: 16px;
    width: 16px;
    -webkit-animation-delay: -19s;
            animation-delay: -19s;
    -webkit-transform: translate3d(54px, 518px, 1803px);
            transform: translate3d(54px, 518px, 1803px);
    background: #26d9b2;
  }
  
  .bubble:nth-child(96) {
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -19.2s;
            animation-delay: -19.2s;
    -webkit-transform: translate3d(201px, 479px, 1419px);
            transform: translate3d(201px, 479px, 1419px);
    background: #4dd926;
  }
  
  .bubble:nth-child(97) {
    height: 29px;
    width: 29px;
    -webkit-animation-delay: -19.4s;
            animation-delay: -19.4s;
    -webkit-transform: translate3d(522px, 137px, 1607px);
            transform: translate3d(522px, 137px, 1607px);
    background: #8226d9;
  }
  
  .bubble:nth-child(98) {
    height: 22px;
    width: 22px;
    -webkit-animation-delay: -19.6s;
            animation-delay: -19.6s;
    -webkit-transform: translate3d(662px, 172px, 205px);
            transform: translate3d(662px, 172px, 205px);
    background: #d95326;
  }
  
  .bubble:nth-child(99) {
    height: 26px;
    width: 26px;
    -webkit-animation-delay: -19.8s;
            animation-delay: -19.8s;
    -webkit-transform: translate3d(470px, 76px, 1493px);
            transform: translate3d(470px, 76px, 1493px);
    background: #26d9a6;
  }
  
  .bubble:nth-child(100) {
    height: 12px;
    width: 12px;
    -webkit-animation-delay: -20s;
            animation-delay: -20s;
    -webkit-transform: translate3d(291px, 443px, 511px);
            transform: translate3d(291px, 443px, 511px);
    background: #6ed926;
  }
  
  .container a {
    display: block;
    float: right;
    margin: 20px;
  }
  .buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
  
	background-color: #4CC713;
	color: white;
  
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4CC713;
}

.buttonDownload:hover:after {
	border-top-color: #4CC713;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}